root = true

[*]
end_of_line = crlf
trim_trailing_whitespace = true
insert_final_newline = false

[*.{js,ts,xml,config,html,vue}]
charset = utf-8
indent_style = space
indent_size = 4
trim_trailing_whitespace = true

[*.json]
indent_size = 2